* {
    margin: 0;
}

body {
    margin: 10%
}

#app {
    margin: auto;

    header {
        display: flex;
        justify-content: flex-start
    }
}

#form {
    display: flex;
    margin: 30px auto;

    #input {
        flex-grow: 2;
    }

    * {
        border: solid 3px;
        border-radius: 0%;
        padding: 10px;
        margin-right: 10px;
    }

}

#List {
    padding: 0;
    margin-right: 10px;

    li {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    button {
        width: 20px;
        height: 20px;
        border: none;
        padding: 0;
    }
}
img{width:100%;height: 100%;}